body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  /* align-items: center; */
}
h1 {
  font-size: 4em;
  margin: 50px auto 0 auto;
  font-family: cursive;
  color: #66bfbf;
}
h2 {
  font-size: 2.5em;
  color: #66bfbf;
  font-weight: normal;
  padding-bottom: 10px;
}
h3 {
  color: #11999e;
}
p {
  line-height: 2;
}
hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
a {
  color: #11999e;
}
.top {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
  /* border: solid 10px;
  padding: 20px; */
}

.middle-container {
  margin: 100px 0;
}
/* .bottom {
}  */
.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}
.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.profile-img {
  border-radius: 100%;
  height: 200px;
  width: 200px;
}
.skill-img {
  border-radius: 100%;
  width: 25%;
  float: left;
  margin-right: 30px;
}
span {
  color: blue;
}

.cad {
  width: 25%;
  height: 25%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 50%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: left;
}

.btn {
  line-height: 10;
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}
.footer-link {
  position: relative;
  margin-top: 100px;
  color: #11999e;
  font-family: "Times New Roman", Times, serif;
  margin: 10px 20px;
  text-decoration: none;
}
.footer-link:hover {
  color: #eaf6f6;
}
.last {
  color: #eaf6f6;
  font-size: 0.75em;
  padding: 20px 0;
}
.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}
